main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.holder{
  width: 45%;
  height: 50vh;
  background: #ddd;
}
.box{
  background: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}






